.dot-grid {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
}

.dot-grid__canvas {
  width: 100%;
  height: 100%;
  display: block;
}
